@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
header{
    /* width: 80%; */
    max-width: 1170px;
    margin: 0 auto 100px;
}

/* Nav section style start */
nav{
   margin: 50px 0; 
   display: flex;
   justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.2rem;
    font-weight: 800;
}
.logo > img{
    width: 5rem;
}
.logo > h1{
    color:#131318;
}
.trip{
    color:#FF5400;
}
.nav{
    display: flex;
    list-style: none;
    gap: 44px;
    align-items: center;
}
.nav > li > a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #424247;
    font-weight: 400;
}
/* Nav section style start */

/* Banner section style start */
.banner{
    height: 500px;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner > .title{
    max-width: 676px;
    text-align: center;
}
.banner > .title > h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner > .title > p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem; 
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.searcharea{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.searcharea > input{
    padding: 6px 15px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
.primearybtn{
    padding: 6px 45px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
    font-size: 1rem;
}
.primearybtn > img{
    width: 12px;
    height: 12px;
}
/* Banner section style end */

main{
    max-width: 1170px;
    margin: 0 auto 100px;
}
/*Popular Section Style start*/
.popular{
    display: flex;
    justify-content: space-between;
}
.populartitle{
    width: 50%;
}
.popularimg{
    width: 50%;
}
.populartitle > h3{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.populartitle > p, ul > li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1.5rem 0;
}
.readmore{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 12px 30px;
}
/*Popular Section Style end*/