@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
header{
    /* width: 80%; */
    max-width: 1170px;
    margin: 0 auto 100px;
}

/* Nav section style start */
nav{
   margin: 50px 0; 
   display: flex;
   justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2.2rem;
    font-weight: 800;
}
.logo > img{
    width: 5rem;
}
.logo > h1{
    color:#131318;
}
.trip{
    color:#FF5400;
}
.nav{
    display: flex;
    list-style: none;
    gap: 44px;
    align-items: center;
}
.nav > li > a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #424247;
    font-weight: 400;
}
/* Nav section style start */

/* Banner section style start */
.banner{
    height: 500px;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner > .title{
    max-width: 676px;
    text-align: center;
}
.banner > .title > h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner > .title > p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem; 
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.searcharea{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.searcharea > input{
    padding: 6px 15px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
.primearybtn{
    padding: 6px 45px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
    font-size: 1rem;
}
.primearybtn > img{
    width: 12px;
    height: 12px;
}
/* Banner section style end */

main{
    max-width: 1170px;
    margin: 0 auto 100px;
}
/*Popular Section Style start*/
.popular{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.populartitle{
    width: 50%;
}
.popularimg{
    width: 50%;
}
.populartitle > h3{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.populartitle > p, ul > li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1.5rem 0;
}
.readmore{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding: 12px 30px;
}
/*Popular Section Style end*/

/* Choose setion style start */
.choosetitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choosetitle > h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.choosetitle > p{
    max-width:  643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    margin: 24px 0 48px;
}
.choosecollage{
    display: grid;
    grid-template-columns: repeat(2, 50%) ;
    gap: 1.5rem;
}
.Maldives, .Indonesia, .Srilanka, .America, .Kashmir, .Bangladesh, .Bandarban{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Indonesia{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
}
.Srilanka{
    width: 374px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
}
.America{
    width: 474px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}
.Kashmir{
    width: 274px;
    height: 286px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
}
.Bangladesh{
    width: 473px;
    height: 300px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
}
.Bandarban{
    width: 673px;
    height: 300px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(/Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
}
/* Choose section style end */

/*Why choose us section style Start*/
.whychoose{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.whychoose > h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.whychoose > p{
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1.5rem; 
}
.card1{
    width: 509px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whychoose > div{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.cardtitle{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.carddis{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 486px; 
    margin-top: 10px;
}
.cardicon{
    width: 64px;
    height: 64px;
    margin-bottom: 1rem;
}
.card2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* .card3 > .cardtitle{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.card3 > .carddis{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 486px; 
}
.card3 > .cardicon{
    width: 64px;
    height: 64px;
} */
/*Why choose us section style End*/

/*Newsletter section Style start*/
.newsletter{
    display: flex;
    justify-content: space-between;
}
.newstitle{
    display: flex;
    flex-direction: column;
    border: 1px solid #FF5400;
    padding: 30px;
    border-radius: 16px;
}
.newstitle > h3{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.newstitle > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 350px;
    margin-top: 1rem;
}
.newstitle > hr{
    color: rgba(19, 19, 24, 0.10);
    margin: 1.2rem 0;
}
input{
    padding: 1rem 1.2rem;
    margin: 0.8rem 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.submit{
    background-color: #FF5400;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
}
/*Newsletter section Style end*/

/* Footer section style start */
footer{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerlogo{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-top: 50px;
}
.footerlogo > h2{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}
.footerlogo > h2 > span{
    color: #FF5400;
}
footer > p{
    max-width: 769px;
    margin-top: 1rem;
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.icons > i{
    width: 1.5rem;
    margin: 2rem 0.5rem 2rem;
}
footer > hr{
    max-width: 872px;
    color: rgba(19, 19, 24, 0.10);
}
.copyright{
    color: #131318;
    font-size: 1rem;
    font-weight: 400;
}

/* Footer section style end */